/* .container {
    background-color: rgb(101, 101, 215);
}

#favorite{
    background-color: rgb(101, 101, 215);
} */

/* body.mat-tepography{
    background-color: rgb(101, 101, 215);
} */


/* app-favorite{
    background-color: rgb(101, 101, 215);
} */