<h1 class="favorite-cities">Додані міста</h1>

<a
  mat-fab
  color="warn"
  href="#favorite"
  (click)="renderFavs()"
  class="favorite-cities-btn"
>
  Вибране
</a>
<div
  *ngIf="favoriteService.favorite.length"
  class="mat-elevation-z8 weather-data"
>
  <table mat-table [dataSource]="favoriteService.favorite">
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Місто</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>
    <ng-container matColumnDef="weather">
      <th mat-header-cell *matHeaderCellDef>Опади</th>
      <td mat-cell *matCellDef="let item">{{ item.weather[0].main }}</td>
    </ng-container>
    <ng-container matColumnDef="temp">
      <th mat-header-cell *matHeaderCellDef>Температура</th>
      <td mat-cell *matCellDef="let item">{{ item.main.temp }}</td>
    </ng-container>
    <ng-container matColumnDef="wind">
      <th mat-header-cell *matHeaderCellDef>Швидкість вітру</th>
      <td mat-cell *matCellDef="let item">{{ item.wind.speed }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      (click)="openDialog(item)"
      *matRowDef="let item; columns: columnsToDisplay"
    ></tr>
  </table>
</div>
